@import "bourbon";


#container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.display-none {
  display: none;
}

#nav-top, #nav-left {
  display: flex;
  position: absolute;
  z-index: 100;
}

#nav-top {
  justify-content: space-between;
  width: 100%;
}

#nav-top > div > button, #nav-left > div > button {
  font-size: 2rem;
}

#nav-left {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#nav-left > div {
  display: flex;
  flex-direction: column;
}

#banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

button {
  opacity: .33;
} 

.dot-container {
  position: relative;
  top: 4rem;
  left: -12rem;
  height: 0;
  width: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
}

/** Button Code **/

.button {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 2px solid #444;
  z-index: 10;
}

.button-focused {
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  display: block;
  position: relative;
  border-radius: 50%;
  border: 2px solid magenta;
  z-index: 10;
}


.btn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}

.btn svg {
  position: absolute;
  top: 0; left: 0;
}

.btn svg rect {
  stroke: #ffffff;
  stroke-width: 6;
  stroke-dasharray: 422, 0;
  stroke-dashoffset: 0;
  
  // @include transition(all 900ms $ease-out-expo);
}

.test svg rect {
  stroke-width: 10;
  stroke-dasharray: 110, 312;
  stroke-dashoffset: 183;
}
