@import "bourbon";

#root {
  position: absolute;
}

#container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.display-none {
  display: none;
}

#nav-top, #nav-left {
  display: flex;
  position: absolute;
  z-index: 100;
}

#nav-top {
  justify-content: space-between;
  width: 100%;
}

#nav-top > div > button, #nav-left > div > button {
  font-size: 1rem;
  width: 7.5rem;
  padding: 1rem;
}

#nav-left {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#nav-left > div {
  display: flex;
  flex-direction: column;
}

#banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.dot-container {
  position: relative;
  top: 4rem;
  left: -12rem;
  height: 0;
  width: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  width: 166px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}

.btn svg {
  position: absolute;
  top: 0; left: 0;
}

.btn svg rect {
  stroke: #ffffff;
  stroke-width: 10;
  stroke-dasharray: 110, 312;
  stroke-dashoffset: 183;
  animation: unfocused .2s linear;
  animation-fill-mode: forwards;
}

.test svg rect {
  stroke-width: 6;
  stroke-dasharray: 422, 0;
  stroke-dashoffset: 0;
  animation: focused .2s linear;
  animation-fill-mode: forwards;
}

@keyframes focused {
  to {
    stroke-width: 10;
    stroke-dasharray: 110, 312;
    stroke-dashoffset: 183;
  }
}

@keyframes unfocused {
  to {
    stroke-width: 6;
    stroke-dasharray: 422, 0;
    stroke-dashoffset: 0;
  }
}
